@let characterValue = character();

@if (characterValue) {
  <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSelect, actionEdit, actionDelete]">
    <nz-card-meta [nzTitle]="characterValue.name | name" [nzDescription]="characterValue.characterClass" />
  </nz-card>
  <ng-template #coverTemplate>
    <img [alt]="characterValue.name" [src]="characterValue.image" />
  </ng-template>
  <ng-template #actionEdit>
    <nz-icon (click)="editCharacter()" nzType="edit" />
  </ng-template>
  <ng-template #actionDelete>
    <nz-icon nzType="delete"
             nz-popconfirm
             nzPopconfirmTitle="Are you sure you wish to delete this character?"
             nzPopconfirmPlacement="bottom"
             nzOkText="Yes"
             nzCancelText="No"
             (nzOnConfirm)="characterService.removeCharacter(character().id)"
    />
  </ng-template>
  <ng-template #actionSelect>
    <nz-icon nzType="select" (click)="characterSelected.emit(character())" />
  </ng-template>
}
