<input #searchInput
       nz-input
       placeholder="Search characters..."
       [value]="searchQuery()"
       (input)="searchQuery.set(searchInput.value.trim())"/>

@let characterListLength = filteredCharacters().length;

<!--
<nz-card *ngFor="let character of mockCharacters; let index = index"
         [nzTitle]="character.name + '_' + index"></nz-card>
-->
@if (characterListLength === 0) {
  <nz-empty nzNotFoundContent="The character list is empty, please help by extending it!"></nz-empty>
} @else {
  @for (character of filteredCharacters(); track character.name; let index = $index) {
    <!--
    <nz-card [nzTitle]="character.name + '_' + index"></nz-card>
    -->
    <app-character-card appSelectedCharacter
                        [color]="ClassDetails[character.characterClass].color"
                        [selected]="selectedCharacter()?.id === character.id"
                        [character]="character"
                        (characterSelected)="selectedCharacter.set($event)"></app-character-card>
  }
}

<!--
<ng-template #testTpl let-nombre="name">
  Hi {{nombre}}!
</ng-template>
<ng-container *ngTemplateOutlet="testTpl; context: { name: 'Máté' }"></ng-container>
<ng-container *ngTemplateOutlet="testTpl; context: { name: 'Abigél' }"></ng-container>
<ng-container *ngTemplateOutlet="testTpl; context: { name: 'Hanna' }"></ng-container>
-->
